.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  perspective: 1000px;
  position: relative;
  margin: auto;
}

.flag-image {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.flag-image.flip-out {
  animation: flip-out 0.5s forwards;
}

.flag-image.flip-in {
  animation: flip-in 0.5s forwards;
}

.flag-image.hidden {
  visibility: hidden;
}

@keyframes flip-out {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes flip-in {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}