.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.country-button {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flag-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flag-flip {
  transform: scaleY(-1);
}

.flag-rotate {
  transform: rotate(90deg);
  /* this css will stretch the image to fit a horizontal recttangle shape */
}

.flag-greyscale {
  /* filter: grayscale(100%); */
  filter: hue-rotate(90deg);
}

.mirror-horizontal {
  position: relative;
  overflow: hidden;
}

.mirror-horizontal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: inherit;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.mirror-vertical {
  position: relative;
  overflow: hidden;
}

.mirror-vertical::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-image: inherit;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border: 1px solid #bbb;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #4caf50;
}


.relic-button-rare {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  padding: 0 10px;
  border: none;
  background-color: rgb(242, 255, 0);
  position: relative;
  /* Add position: relative to the button */
}

.relic-button-rare:hover::before {
  /* Add a tooltip on hover */
  content: attr(data-tooltip);
  /* Set the tooltip text to the value of data-tooltip attribute */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
}

.relic-button-uncommon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  padding: 0 10px;
  border: none;
  background-color: rgb(255, 85, 85);
  position: relative;
}

.relic-button-uncommon:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
}

.relic-button-common {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  padding: 0 10px;
  border: none;
  background-color: rgb(212, 212, 212);
  position: relative;
}

.relic-button-common:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
}


.relic-button-rare img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.relic-button-rare span {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.relic-button-uncommon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.relic-button-uncommon span {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.relic-button-common img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.relic-button-common span {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.relic {
  width: 20px;
  height: 20px;
  align-self: left;
  display: inline-block;
}